@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom scrollbar for cyber aesthetic */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid #333;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccff00;
}